{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

    <h1>Formations : </h1>
    <a href="{{ path('new_formation')}}">Ajouter une formation</a><br><br>

    {% for formation in formations %}
        <a href="{{ path('sessionsParFormation', {'id': formation.id}) }}">{{formation.intitule}}</a>
        <a href="{{ path('edit_formation', {'id': formation.id}) }}">Modifier</a>
        <a href="{{ path('delete_formation', {'id': formation.id}) }}">Supprimer</a><br>
    {% endfor %}

{% endblock %}
