{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Stagiaires : </h1>

    <a href="{{ path('new_stagiaire')}}">Ajouter un stagiaire</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th>Stagiaire</th>
                <th>Nombre de sessions prévues</th>
                <th>Nombre de sessions en cours</th>
                <th>Nombre de sessions passées</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiairesSessionsPrevues %}
                <tr>
                    <td><a href="{{path('show_stagiaire', {'id' : stagiaire['id']})}}">{{stagiaire['nom']|upper}} {{stagiaire['prenom']}}</a><br></td>
                    <td>{{ stagiaire['sessionPrevues'] ? stagiaire['sessionPrevues'] : '0' }}</td>
                    <td>{{ stagiaire['sessionEnCours'] ? stagiaire['sessionEnCours'] : '0' }}</td>
                    <td>{{ stagiaire['sessionPassees'] ? stagiaire['sessionPassees'] : '0' }}</td>
                    <td><a href="{{ path('edit_stagiaire', {'id' : stagiaire['id']})}}">Modifier</a> <a href="{{ path('delete_stagiaire', {'id' : stagiaire['id']})}}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
