{% extends 'base.html.twig' %}

{% block title %}{{session.intitule}}{% endblock %}

{% block body %}
    <h1>Détails de la session {{session.intitule}}</h1>
    <a href="">Modifier</a> <br>
    <a href="">Supprimer</a> <br>
    <p>Total des places : {{session.places}} </p>
    <p>Places reservées : ? </p>
    <p>Places disponibles : ? </p>
    <p>Début : {{session.dateDebut|date("d/m/Y")}} </p>
    <p>Fin : {{session.dateFin|date("d/m/Y")}} </p>
    
    <h3>Stagiaires</h3>
    {% if session.stagiaires | length > 0  %}
        <table class="table table-striped">
            <thead>  
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
            </thead>
            <tbody>
                {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td><a href="">{{stagiaire.nom|upper}}</a></td>
                        <td><a href="">{{stagiaire.prenom}}</a></td>
                    </tr> <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}    
        <p>Aucun stagiaire participe à cette session</p>
    {% endif %}

    <h3>Programme</h3>
    {% if session.programmes | length > 0  %}
        <table class="table table-striped">
            <thead>  
                <tr>
                    <th>Module</th>
                    <th>Durée en jours</th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                    <tr>
                        <td><a href="">{{programme.modulee.intitule}}</a></td>
                        <td><a href="">{{programme.duree}}</a></td>
                    </tr> <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}    
        <p>Le programme de la session n'a pas été défini encore</p>
    {% endif %}

{% endblock %}