{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}

    <h1>Modules : </h1>

    <a href="{{path('new_modulee')}}">Ajouter un module</a>

    <table>
        <thead>
            <tr>
                <th>Module</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for modulee in modulees %}
                <tr>
                    <td>{{modulee.intitule}}<br></td>
                    <td><a href="{{path('show_categorie', {'id' : modulee.categorie.id})}}">{{modulee.categorie.nom}}</a></td>
                    <td><a href="{{path('edit_modulee', {'id' : modulee.id})}}">Modifier</a> <a href="{{path('delete_modulee', {'id' : modulee.id})}}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
