{% extends 'base.html.twig' %}

{% block title %}{{categorie.nom}}{% endblock %}

{% block body %}

    <h1>Modules de la catégorie {{categorie.nom}} :</h1>
    
    <a href="{{path('new_modulee_cat', {'id' : categorie.id})}}">Ajouter un module</a> <br>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary">
                <th scope="col">Module</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for module in categorie.modulees %}
                <tr>
                    <td>{{module.intitule}}</td>
                    <td><a href="{{path('delete_modulee', {'id' : module.id})}}">X</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}