{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

    <h1>Formateurs : </h1>
    
    <a href="{{ path('new_formateur')}}">Ajouter un formateur</a>


    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-primary"> 
                <th>Formateur</th>
                <th>Sessions en cours</th>
                <th>Sessions prévues</th>
                <th>Sessions passées</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for formateur in formateurs %}
                <tr >
                    <td><a href="{{ path('show_formateur', {'id': formateur.id})}}">{{formateur.nom|upper}} {{formateur.prenom}}</a><br></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="{{ path('edit_formateur', {'id' : formateur.id})}}">Modifier</a> <a href="{{ path('delete_formateur', {'id' : formateur.id})}}">Supprimer</a></td>
            
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
