{% extends 'base.html.twig' %}

{% block title %}{{formateur.prenom ~ ' ' ~ formateur.nom}}{% endblock %}

{% block body %}
    {# Infos du formateur #}
    <h1>Informations de {{formateur.prenom ~ ' ' ~ formateur.nom}}</h1>
    <a href="{{ path('edit_formateur', {'id' : formateur.id})}}">Modifier</a> <br>
    <a href="{{ path('delete_formateur', {'id' : formateur.id})}}">Supprimer</a> <br>
    <p>Sexe : {{formateur.sexe}} </p>
    <p>Courriel : {{formateur.email}} </p>

    <h3>Sessions en cours</h3>
    {# Liste des sessions auquelles il participe #}
    {% if sessionsEnCours | length > 0  %}
        <table class="table table-striped table-bordered">
            <thead>  
                <tr class="table-primary">
                    <th>Session</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th scope="col">Details du programme</th>

                </tr>
            </thead>
            <tbody>
                {% for session in sessionsEnCours %}
                    <tr>
                        <td><a href="{{path('show_session', {'id' : session.id})}}">{{session.intitule}}</a></td>
                        <td>{{session.dateDebut|date("d/m/Y")}}</td>
                        <td>{{session.dateFin|date("d/m/Y")}}</td>
                        <td><a href="">Afficher</a></td>

                    </tr> <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}    
        <p>{{formateur.prenom ~ ' ' ~ formateur.nom}} n'a aucune session en cours</p>
    {% endif %}

    <h3>Sessions prévues</h3>
    {# Liste des sessions auquelles il participe #}
    {% if sessionsPrevues | length > 0  %}
        <table class="table table-striped table-bordered">
            <thead>  
                <tr class="table-primary">
                    <th>Session</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th scope="col">Details du programme</th>

                </tr>
            </thead>
            <tbody>
                {% for session in sessionsPrevues %}
                    <tr>
                        <td><a href="{{path('show_session', {'id' : session.id})}}">{{session.intitule}}</a></td>
                        <td>{{session.dateDebut|date("d/m/Y")}}</td>
                        <td>{{session.dateFin|date("d/m/Y")}}</td>
                        <td><a href="">Afficher</a></td>

                    </tr> <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}    
        <p>{{formateur.prenom ~ ' ' ~ formateur.nom}} n'a aucune session prévue</p>
    {% endif %}
    
    <h3>Sessions passées</h3>
    {# Liste des sessions auquelles il participe #}
    {% if sessionsPassees | length > 0  %}
        <table class="table table-striped table-bordered">
            <thead>  
                <tr class="table-primary">
                    <th>Session</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th scope="col">Details du programme</th>

                </tr>
            </thead>
            <tbody>
                {% for session in sessionsPassees %}
                    <tr>
                        <td><a href="{{path('show_session', {'id' : session.id})}}">{{session.intitule}}</a></td>
                        <td>{{session.dateDebut|date("d/m/Y")}}</td>
                        <td>{{session.dateFin|date("d/m/Y")}}</td>
                        <td><a href="">Afficher</a></td>

                    </tr> <br>
                {% endfor %}
            </tbody>
        </table>
    {% else %}    
        <p>{{formateur.prenom ~ ' ' ~ formateur.nom}} n'a participé à aucune session</p>
    {% endif %}

{% endblock %}